* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

.container {
  background-image: linear-gradient(to right, lightblue, lightgreen);
  padding: 30px;
}

.item {
  text-align: center;
  width: 28%;
  margin: 20px 30px;
  background-color: khaki;
  display: inline-block;
}

.item img {
  width: 100%;
}

.item h2 {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 8px;
}

.content_inner {
  padding: 10px 30px;
}

label[for^='red'] {
  color: red;
}

label[for^='blue'] {
  color: blue;
}

label[for^='black'] {
  color: black;
}

.item button {
  background-color: aquamarine;
  padding: 5px 15px;
  display: block;  
  margin: 20px auto;
}